@section head {
    <style type="text/css">

    </style>
}
@section SitePath {
    @*站点路径*@
    <div class="titlebar">
        <span class="title">当前位置：</span>
        <span>首页</span>
        <span class="bold">></span>
        <span>系统管理</span>
        <span class="bold">></span>
        <span>用户管理</span>
    </div>
}
@section top {
    @*工具栏*@
<div class="toolbar">
    <input type="button" value="新增"/>
</div>
}
@section content {
    <table id="dg"></table>
}
@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('#dg').datagrid({
                idField: "Id",
                fit:true,
                rownumbers: true,
                singleSelect: true,
                pagination: true,
                pageSize: 20,
                sortName: "Name",
                sortOrder:"desc",
                url: '@Url.Action("Query","User")',
                columns: [[
                    { field: 'Id', width: 100,hidden:true },
                    { field: 'Name', title: '用户名', width: 100,sortable:true },
                    { field: 'Email', title: '邮箱', width: 100, align: 'right', sortable: true },
                    { field: 'DisplayName', title: '昵称', width: 100, align: 'right', sortable: true }
                ]]
            });
        });
    </script>
}

