@section head {
    <style type="text/css">

    </style>
}
@section SitePath {
    @*站点路径*@
    <div class="titlebar">
        <span class="title">当前位置：</span>
        <span>首页</span>
        <span class="bold">></span>
        <span>系统管理</span>
        <span class="bold">></span>
        <span>用户管理</span>
    </div>
}
@section top {
    @*工具栏*@
}
@section content {

}
@section Scripts {
    <script type="text/javascript">
        $(function () {
            
        });
    </script>
}

