@model Guid
@*脚本*@
<script type="text/javascript">
    $(function() {
        $('#ResourceTree').tree({
            checkbox:true,
            queryParams: { roleId: "@Model" },
            url: '@Url.Action("QueryByRole", "Resource")'
        });
    });
</script>
<div id="dialogButtons">
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-ok',width:90" onclick="$.easyui.tree.submitTreeCheckedIds('ResourceTree', '@Url.Action("SetPermissions", "Role")', { roleId: '@Model' }) ">保 存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',width:90" onclick=" $.easyui.closeDialog() ">关 闭</a>
</div>
<ul id="ResourceTree"></ul> 
