@model Guid
@*脚本*@
<script type="text/javascript">
    function SetCheckedRoles(data) {
        //角色列表成功加载回调，根据Checked属性选中行的复选框
        if (data) {
            $.each(data.rows, function(index, item) {
                if (item.Checked) {
                    $("#dg").datagrid('checkRow', index);
                }
            });
        }
    }

    $(function() {
        $('#dg').datagrid({
            idField: "Id",
            fit: true,
            fitColumns: true,
            rownumbers: true,
            toolbar: "#divQuery",
            pagination: true,
            checkOnSelect: false,
            selectOnCheck:false,
            pageSize: 10,
            sortName: "CreationTime",
            sortOrder: "desc",
            url: '@Url.Action("QueryByUser", "Role")',
            queryParams:{userId:"@Model"},
            onLoadSuccess:SetCheckedRoles,
            columns: [
                [
                    { field: 'Id', checkbox: true },
                    { field: 'Name', title: '角色名', sortable: true, width: 100, halign: "center" },
                    { field: 'IsAdmin', title: '是否管理员', align: 'right', width: 100, halign: "center", formatter: $.easyui.format.Bool },
                    { field: 'Enabled', title: '是否启用', align: 'right', sortable: true, width: 100, halign: "center", formatter: $.easyui.format.Bool },
                    { field: 'CreationTime', title: '创建时间', align: 'right', sortable: true, width: 100, halign: "center" }
                ]
            ]
        });
    });
</script>
@*查询表单*@
<div id="divQuery" class="divQueryForm">
    <form id="formQuery" class="form" gridid="dg">
        <dl>
            <dt><label for="Name">角色名</label></dt>
            <dd>
                <input class="easyui-textbox" name="Name" />
            </dd>
        </dl>
        <dl>
            <dt><label for="Enable">是否管理员</label></dt>
            <dd>
                <select class="easyui-combobox" data-options="editable:false,panelHeight:'auto',width:50" name="IsAdmin"><option value="false">否</option><option value="true">是</option></select>
            </dd>
        </dl>
        <dl>
            <dt><label for="Enable">是否启用</label></dt>
            <dd>
                <select class="easyui-combobox" data-options="editable:false,panelHeight:'auto',width:50" name="Enabled"><option value="false">否</option><option value="true">是</option></select>
            </dd>
        </dl>
        <span class="button">
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="width:70,iconCls:'icon-search'" onclick="$.easyui.grid.Query('formQuery', 'dg')">查 询</a>
        </span>
    </form>
</div>
<table id="dg"></table>
<div id="dialogButtons">
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-ok',width:90" onclick="$.easyui.grid.submitCheckedIds('dg', '@Url.Action("SetRoles", "User")', {userId:'@Model'})">保 存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',width:90" onclick="$.easyui.closeDialog()">关 闭</a>
</div>