@model BeiDream.Demo.Domain.Queries.ResourceQuery
<div id="divQuery" class="divQueryForm">
    <form id="formQuery" class="form" gridid="treeGrid">
        <dl>
            <dt><label for="Name">资源名称</label></dt>
            <dd>
                <input class="easyui-textbox" name="Name" />
            </dd>
        </dl>
        <dl>
            <dt><label for="Enable">是否启用</label></dt>
            <dd>
                <input class="easyui-combobox" name="Enabled" data-options="valueField:'value',textField:'text',url:'/Resource/ToYesOrNoResult'" />
            </dd>
        </dl>
        <span class="button">
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="width:70,iconCls:'icon-search'" onclick="$.easyui.treegrid.Query('formQuery', 'treeGrid')">查 询</a>
        </span>
    </form>
</div>