@*选项卡*@
<div id="divMainTabs" class="easyui-tabs" data-options="fit:true,border:false">
</div>

@*选项卡菜单*@
<div id="divTabsMenu" data-options="duration:600" class="easyui-menu" style="width:150px;">
    <div id="menuItem_Refresh" data-options="iconCls:'icon-reload'">刷 新</div>
    <div class="menu-sep"></div>
    <div id="menuItem_CloseCurrent">关闭当前</div>
    <div id="menuItem_CloseOther">关闭其它</div>
    <div id="menuItem_CloseAll" data-options="iconCls:'icon-delete2'">全部关闭</div>
</div>

@*我的桌面选项卡菜单*@
<div id="divDesktopTabsMenu" data-options="duration:600" class="easyui-menu" style="width:150px;">
    <div id="menuItem_Refresh" data-options="iconCls:'icon-reload'">刷 新</div>
    <div id="menuItem_CloseOther">关闭其它</div>
</div>

