<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>@ViewBag.Title</title>
    <link href="~/Scripts/jquery-easyui-1.4.3/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/Scripts/jquery-easyui-1.4.3/themes/icon.css" rel="stylesheet" />
    <link href="~/Content/common.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-easyui-1.4.3/jquery.min.js"></script>
    <script src="~/Scripts/jquery-easyui-1.4.3/jquery.easyui.min.js"></script>
    <script src="~/Scripts/jquery-easyui-1.4.3/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/Util/util.js"></script>
    <script src="~/Scripts/Util/jquery.util.js"></script>
    <script src="~/Scripts/Easyui.Util/jquery.util.easyui.js"></script>
    <script src="~/Scripts/Easyui.Util/jquery.util.easyui.config.js"></script>
    <script src="~/Scripts/Easyui.Util/jquery.util.easyui.form.js"></script>
    <script src="~/Scripts/jquery.json-2.4.min.js"></script>
    @RenderSection("head", false)
</head>
<body>
    @RenderBody()

    @RenderSection("Scripts", false)
</body>
</html>
