@{
    ViewBag.Title = "Home Page";
}

<div>
    <button type="button" class="ui button large red"><i class="icon user"></i>哈哈</button>
    <button class="ui button"> Pause<i class="pause icon"></i> </button>
</div>